/* styles.css */

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header appears above other content */
    background-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* Adjust this value to match the height of your header */
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.service {
    flex: 0 0 calc(33.33% - 20px);
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.project {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 30px;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.contact-form {
    margin-top: 30px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .service, .project {
        flex: 0 0 calc(50% - 20px);
    }
}
